{{#isModel}}{{#isFile}}IO[Any]{{/isFile}}{{^isFile}}m.{{{dataType}}}{{/isFile}}{{/isModel}}{{#isUuid}}UUID{{/isUuid}}{{#isArray}}List[{{#items}}{{>_dataTypeApi}}{{/items}}]{{/isArray}}{{^isModel}}{{^isUuid}}{{#isFile}}IO[Any]{{/isFile}}{{^isFile}}{{^isArray}}{{{dataType}}}{{/isArray}}{{/isFile}}{{/isUuid}}{{/isModel}}