{{#isModel}}{{#isFile}}IO[Any]{{/isFile}}{{^isFile}}{{{dataType}}}{{/isFile}}{{/isModel}}{{#isUuid}}UUID{{/isUuid}}{{#isArray}}List[{{#items}}{{>_dataTypeModel}}{{/items}}]{{/isArray}}{{^isArray}}{{#isMapContainer}}Dict[{{#items}}str, {{>_dataTypeModel}}{{/items}}]{{/isMapContainer}}{{/isArray}}{{^isModel}}{{^isUuid}}{{^isFile}}{{^isArray}}{{^isMapContainer}}{{{dataType}}}{{/isMapContainer}}{{/isArray}}{{/isFile}}{{/isUuid}}{{/isModel}}